$card-radius: 5px;
$card-height: 420px;

.full-background {
  background-image: url("../../img/recorder.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.left-card {
  overflow: hidden;
  border-top-left-radius: $card-radius;
  border-bottom-left-radius: $card-radius;
  height: $card-height;
}

.right-card {
  overflow: hidden;
  border-top-right-radius: $card-radius;
  border-bottom-right-radius: $card-radius;
  background: white;
  height: $card-height;
  padding: 20px;
  width: 320px;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 120px;
}

.toggle-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  .left-button {
    padding: 0px 10px;
    background-color: blue;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .right-button {
    padding: 0px 10px;
    background-color: red;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}
